@{
    ViewBag.Title = "CTA Ridership: Dataset";
}

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="navbar-header">
		<a class="navbar-brand" href="~/Home/Index">CTA Ridership Demo</a>
	</div>
	<div class="navbar-collapse collapse">
		<ul class="nav navbar-nav">
			<li class="active"><a href="~/Home/Index">Dataset</a></li>
			<li><a href="~/BusStop/Index">Bus Stop Table</a></li>
			<li><a href="~/StopRoute/Index">Stop Route Table</a></li>
			<li><a href="~/Visualize/Index">Visualizations</a></li>
			<li><a href="~/Query/Index">Queries</a></li>
		</ul>
	</div>
</div>

<div id="header-wrapper">
	<h1>CTA Ridership Dataset</h1>
</div>

<div id="wrapper1">
	<div>
		<p style="text-align:center; margin-bottom: 3px"><a href="https://data.cityofchicago.org/Transportation/CTA-Ridership-Avg-Weekday-Bus-Stop-Boardings-in-Oc/mq3i-nnqe" target="_blank" style="font-size: 12px; font-weight: bold; text-decoration: none; color: #333333; font-family: arial;">CTA - Ridership - Avg. Weekday Bus Stop Boardings in October 2012</a></p>
		<iframe style="margin:0 auto; display:block;" width="90%" title="CTA - Ridership - Avg. Weekday Bus Stop Boardings in October 2012" height="800px" src="https://data.cityofchicago.org/w/mq3i-nnqe/3q3f-6823?cur=6pqWLCH9HIF&from=root" frameborder="0" scrolling="no"><a href="https://data.cityofchicago.org/Transportation/CTA-Ridership-Avg-Weekday-Bus-Stop-Boardings-in-Oc/mq3i-nnqe" title="CTA - Ridership - Avg. Weekday Bus Stop Boardings in October 2012" target="_blank">CTA - Ridership - Avg. Weekday Bus Stop Boardings in October 2012</a></iframe>
		<p><a href="http://www.socrata.com/" target="_blank">Powered by Socrata</a></p>
	</div>
</div>